@keyframes pop-in {
    0% {
        transform: scale(0.0);
    }

    35% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.0);
    }
}

#status {
    color: white;
    font-size: 32px;
    text-shadow: 0px 2px gray;
}

#restart-button {
    color: white;
    background-color: #514680;
    box-shadow: 0px 2px gray;
    font-size: 24px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 64px;
    user-select: none;
}

#restart-button:hover {
    background-color: #A099BF;
    transition-duration: 0.2s;
}

#restart-button:active {
    background-color: #7A7491;
}

.tic-tac-toe-row {
    display: flex;
    flex-direction: row;
}

.tic-tac-toe-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 125px;
    height: 125px;
    margin: 2px;
    background-color: #FFF8BF;
    box-shadow: 0px 2px gray;
    border-radius: 16px;
    text-align: center;

    animation-name: pop-in;
    animation-duration: 0.25s;
}

.tic-tac-toe-cell:hover {
    background-color: #C4BF93;
    transition-duration: 0.2s;
}

.tic-tac-toe-cell:active {
    background-color: #FFF8BF;
    transition-duration: 0.2s;
}

.tic-tac-toe-cell > div {
    font-size: 48px;
    animation-name: pop-in;
    animation-duration: 0.25s;
}

.cell-text-X {
    color: #A099BF; 
}

.cell-text-O {
    color: #AAA57A; 
}
